.van-nav-bar {
  background-color: var(--color-tint);
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.1);
}
.van-nav-bar__title {
  color: #fff;
}
.van-swipe__indicator {
  width: 9px;
  height: 9px;
}
