.home-nav-bar .van-nav-bar {
  background-color: var(--color-tint);
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.1);
}
.home-nav-bar .van-nav-bar__title {
  color: #fff;
}
.cart-nav-bar .van-nav-bar {
  background-color: var(--color-tint);
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.1);
}
.cart-nav-bar .van-nav-bar__title {
  color: #fff;
}
.van-swipe__indicator {
  width: 9px;
  height: 9px;
}
.detail-nav-bar .van-nav-bar {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.1);
}
.van-submit-bar__bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  border-top: 1px solid red;
}
.van-card {
  background-color: #fff;
}
.van-card .van-card__thumb {
  width: 60px;
}
